{% extends 'base/base.html' %}
{% block body %}
    {% set user=user or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <br />
                <div class="well">
                    <h1 class="text-center">User Form</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {% macro form_input(label,property,value,error_msg) %}
                            <div class="form-group {{ ' has-error' if error_msg }}">
                                <label for="{{ property }}Input"
                                       class="control-label">{{ label }} {{ ' - '+error_msg if error_msg }}</label>
                                <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
                                       value="{{ value }}"/>
                            </div>
                        {% endmacro %}
                        {{ form_input('Name','name',user.name,errors.name) }}
                        {{ form_input('Age','age',user.age,errors.age) }}
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
