{% extends 'base/base.html' %}
{% block css %}
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 4px 4px 4px 4px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>This is a generic home for app {{ app }}</h1>
    <a href="{{ user_form }}">Create New User</a>
    <hr/>
    <h2>List of Users</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Creation</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.creation }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td><a href="{{ user.edit_path }}">Edit</a></td>
                <td><a href="{{ user.delete_path }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
