{% extends 'admin/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Security Table</h1>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Path</th>
                        <th>Allowed Groups</th>
                        <th>CSRF security</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for info in path_infos %}
                        <tr>
                            <td><a href="{{ info.path }}">{{ info.path }}</a></td>
                            <td>{{ info.groups }}</td>
                            <td>
                                    <span class="label {{ 'label-success' if info.csrf else 'label-danger' }}">
                                        {{ 'Secure' if info.csrf else 'Unsecure' }}
                                    </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}